<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body>

<header th:insert="services/header :: header"></header>
<main>

    <div class="container mt-10">

        <form method="post" action="/addBook">
            <input type="text" name="title" class="form-control col-md-7" placeholder="Title"><br>
            <input type="text" name="author" class="form-control col-md-7" placeholder="Author"><br>
            <input type="number" name="year" class="form-control col-md-7" placeholder="Year"><br>
            <input type="text" name="genre" class="form-control col-md-7" placeholder="Genre"><br>
            <input type="number" name="countPage" class="form-control col-md-7" placeholder="Count page"><br>
            <textarea  name="description" placeholder="Description" class="form-control col-md-7"  ></textarea><br>


            <input type="submit"  value="CREATE" class="col-md-7">
        </form>

    </div>
</main>
<footer th:insert="services/footer :: footer"></footer>

</body>
</html>
<!--Назва книги-->
<!-- ПІБ автора-->
<!-- Рік випуску-->
<!-- Жанр книги-->
<!-- Кількість сторінок-->
<!-- Короткий опис книги-->